

.house-card{
    background-color: #262a33;
    border-radius: 20px;
    padding:1rem;
    margin:20px 0;
}

h2{
    padding:0px;
    margin:0px;
}

.house-colors{
    width:25px;
    height:25px;
    border-radius: 25px;
}

.house-button{
  width:85px;
  height:85px;
  padding:2px;
  background-color: #262a33;
  border: none;
  padding: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}

.house-button:hover {
  background-color: #616881;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.house-button.active{
  background-color: #616881;
}
span{
    font-size: 30pt;
    display: block;
}