.spell-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 14em;
    border: 3px #616881 solid;
    border-radius: 50px;
}

.spells-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.spells-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    max-height: 1000px;

    justify-content: space-evenly;
    overflow-y: auto;
    scrollbar-color: #616881 #262a33;
}


.spell-card h3 {
    font-size: 15.5pt;
}